<div
  [formGroup]="profile"
  class="page-elements-gapped"
>
  <h1 class="text-xl">Profile</h1>
  <label class="input-label">
    Name w/ formControlName
    <input
      class="input input-success w-1/2 transition-all"
      type="text"
      formControlName="name"
    />
  </label>

  <label class="input-label">
    Name w/ formControl
    <input
      class="input input-success w-1/2 transition-all"
      type="text"
      [formControl]="name"
    />
  </label>

  <label class="input-label">
    Quote
    <input
      class="input input-success w-1/2 transition-all"
      type="text"
      formControlName="quote"
    />
  </label>

  <button class="input input-success flex justify-end items-center transition-all" (click)="next()">
    Go Next
    <img class="-rotate-90" width="32px" src='./assets/arrow-down--48.svg' alt='' role="presentation"/>
  </button>
</div>